<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>It's Pawsible</title>
  
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <!--fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a style="font-family: 'Lobster', cursive;" class="navbar-brand" href="index.html">It's Pawsible</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul style="font-family: 'Lobster', cursive;" class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a  class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutpawsible.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 style="font-family: 'Lobster', cursive;" class="my-4">It's Pawsible</h1>
        
        <div class="list-group">
          <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Black_Paw.svg/820px-Black_Paw.svg.png">
          <br>
          <p style="font-family: 'Montserrat', sans-serif;">A one <a href="aboutpawsible.html">woman</a> ran business making custum, unique, handpainted glassware of your favorite furry friends.</p>
          <br>
          <p style="font-family: 'Montserrat', sans-serif;">Due to high demand, orders can only be made by using the <a href="contact.html">contact</a> form.</p>
        </div>
      
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121443929_10158387137653153_4027104483549730721_n.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_ohc=LCOZ7t1ZHnEAX_nER3p&_nc_ht=scontent-ort2-2.xx&oh=30f4c48f18a9a1a4236f9cc6ff56031b&oe=5FE24B45" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/122805675_10158416913993153_5577124538672108231_n.jpg?_nc_cat=102&ccb=2&_nc_sid=8bfeb9&_nc_ohc=eWCdw-e7198AX9B5NW6&_nc_ht=scontent-ort2-2.xx&oh=a8d7eba16dae0af830094d23b846ac39&oe=5FE31D2B" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121420188_10158387133763153_1790521331746484046_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=UAyJ0HKr9UAAX-GcdLM&_nc_ht=scontent-ort2-2.xx&oh=5196c4957009d7f3b6952bbfa36689cf&oe=5FDFE9E5" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121502297_10158387134143153_2771965297877082826_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=_U9RksxA86oAX_4vPTK&_nc_ht=scontent-ort2-2.xx&oh=88592a9c6ef58a16990d99cc6d5ae554&oe=5FE1AEF3" alt="mugs/jars"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="services.html">Mugs and Jars</a>
                </h4>
                <h5>$15.00+</h5>
                <p class="card-text"></p>Mugs and jars of various sizes. Custom art available.</p>
              </div>
            </div>
          </div>

          <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121373857_10158387133688153_7764184758382608493_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=gazK9G-i-esAX99wIQ8&_nc_ht=scontent-ort2-2.xx&oh=3d2e9c3d164af78d5881043bb1dd7bcd&oe=5FE0F9AA" alt="treat jars"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="services.html">Treat Jars</a>
                </h4>
                <h5>$20.00+</h5>
                <p class="card-text">Treat jars of various sizes. Custom art available.</p>
              </div>
            </div>
          </div>

          <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121524723_10158387133948153_8238511177284819097_n.jpg?_nc_cat=102&ccb=2&_nc_sid=8bfeb9&_nc_ohc=uUz5fgHuQB4AX-61pk0&_nc_ht=scontent-ort2-2.xx&oh=240b447b2bf604eefff47f7311e751d5&oe=5FE039F5" alt="cups"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="services.html">Cups</a>
                </h4>
                <h5>$15.00+</h5>
                <p class="card-text">Cups of various sizes. Custom art available.</p>
              </div>
            </div>
          </div>

          <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121474088_10158387134538153_8362658395894748941_n.jpg?_nc_cat=101&ccb=2&_nc_sid=8bfeb9&_nc_ohc=pcVi0kgOj5IAX8yJNZ3&_nc_ht=scontent-ort2-2.xx&oh=259f3bb79d48c21ee9a16eb7e9f747e8&oe=5FE30ED2" alt="wine glasses"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="services.html">Wine Glasses</a>
                </h4>
                <h5>$15.00+</h5>
                <p class="card-text">Wine glasses of various sizes and stems. Custom art available.</p>
              </div>
            </div>
          </div>

          <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121319348_10158387137493153_7884418315633559025_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=EsHFyTfhT30AX9byn8R&_nc_ht=scontent-ort2-2.xx&oh=3c661de95730f441b51af279c0f96cea&oe=5FE18DA3" alt="glasses"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="services.html">Glasses</a>
                </h4>
                <h5>$15.00+</h5>
                <p class="card-text">Glasses of various sizes. Custom art available.</p>
              </div>
            </div>
          </div>

          <div style="font-family: 'Montserrat', sans-serif;" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/121418132_10158387134913153_2062367784922955592_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=4SkVQhcoCJcAX_CaGRV&_nc_ht=scontent-ort2-2.xx&oh=68d6aa53dbbc1ee46682a2da6b40755f&oe=5FE34E41" alt="misc/other"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="services.html">Misc</a>
                </h4>
                <h5>$15.00+</h5>
                <p class="card-text">Various sizes and shapes of handpainted glassware. Custom art avavilable.</p>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer style="margin-top: 20px;" class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; It's Pawsible 2020</p>
      <p class="m-0 text-center text-white">607.243.8556<br>bambey@frontiernet.net</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
