<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>It's Pawsible- Services</title>
  <!--fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a style="font-family: 'Lobster', cursive;" class="navbar-brand" href="index.html">It's Pawsible</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul style="font-family: 'Lobster', cursive;" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutpawsible.html">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="services.html">Services
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 style="font-family: 'Lobster', cursive;" class="my-4"> Services</h1>
    <p style="text-align: center; font-size: 17px;">

    </p>
</div>

<div style="font-family: 'Montserrat', sans-serif; justify-content: center;  list-style-position: inside; padding-left: 40%;">
   <h3>The Process:</h3>
   <ul>
      <li>Find and send in a picture of what you want painted.</li>
      <li>Pick out what kind of glassware you want painted.</li>
      <li>Collaberate and discuss the details with Carol.</li>
      <li>Carol works her Magic.</li>
      <li>You recieve a one-of-a-kind piece of art.</li>
      <li>Due to high demand, you can only place orders by <a href="contact.html">contacting</a> Carol.</li>
   </ul>
</div>
<br>
<div style="font-family: 'Montserrat', sans-serif; justify-content: center;  list-style-position: inside; padding-left: 40%;">
  <h3>Pricing:</h3>
  <ul>
     <li>Base rate includes one item of glassware and one subject.</li>
     <li>For additional subjects add $7 each.</li>
     <li>Custom fee is $5 for special orders.</li>
     <li>Prices start at $15 and increase with the size of the glassware you want painted.</li>
     <li>All prices are subject to taxes and shipping.</li>
  </ul>
</div>
<br>
   <h3 style="font-family: 'Lobster', cursive; text-align: center;">You can be sure that with each piece, you will recieve a unique hand painted piece of art with outstanding quality.</h4>

   

<div style="margin-bottom: 20px; text-align: center; margin-top: 50px;">
  <div style="padding: 10px; display: inline-block;">
      <img style="width:  300px; height: 550px; object-fit: cover; border-width: 5px; border-style: solid; border-color: grey; border-radius: 50%;" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/120362457_10158348100908153_9081564207913128209_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=aRGVyPR7haAAX9S_biX&_nc_ht=scontent-ort2-2.xx&oh=4941a41279afd7dc0bb3ec07859cb86d&oe=5FE0EA10" alt="monkey"/>
  </div>
  <div style="padding: 10px; display: inline-block;">
      <img style="width:  300px; height: 550px; object-fit: cover; border-width: 5px; border-style: solid; border-color: grey; border-radius: 50%;" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/120330216_10158348100568153_4422197230451205960_n.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_ohc=9nvspWZUr8AAX_SGQSw&_nc_ht=scontent-ort2-2.xx&oh=8f64dad797fddfe0065985bbfae2dd38&oe=5FE3A86A" alt="bird"/>
  </div>
  <div style="padding: 10px; display: inline-block;">
      <img style="width:  300px; height: 550px; object-fit: cover; border-width: 5px; border-style: solid; border-color: grey; border-radius: 50%;" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/120188243_10158348100378153_5740803314931092458_n.jpg?_nc_cat=111&ccb=2&_nc_sid=8bfeb9&_nc_ohc=-GLD5sdN_LsAX-SyCcU&_nc_ht=scontent-ort2-2.xx&oh=d234673165f03eef46d1d05dd8356de2&oe=5FE2B3C8" alt="elephant"/>
  </div>
</div>

   <!-- Footer -->
   <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; It's Pawsible 2020</p>
      <p class="m-0 text-center text-white">607.243.8556<br>bambey@frontiernet.net</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>